body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-image: url(images/bg-mobile.svg);
  background-position: center top 0;
  background-repeat: no-repeat;
  background-color: #684bb1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header {
  margin: 38px 0 70px 40px;
  align-self: flex-start;
}
.logo {
  width: 120px;
  height: 19px;
}
.illustration {
  margin-bottom: 60px;
  width: 296px;
}
.text-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.head {
  font-weight: 600px;
  font-size: 24px;
  line-height: 36px;
  width: 19ch;
  margin-bottom: 16px;
  text-align: center;
  color: #ffffff;
}
.paragraph {
  font-family: Open Sans;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  width: 33ch;
  text-align: center;
  color: #ffffff;
  margin-bottom: 24px;
}
.button {
  font-weight: 400px;
  font-size: 12px;
  line-height: 12px;
  color: #684bb1;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.269022);
  border-radius: 20px;
  background-color: #ffffff;
  padding: 11px 75px;
  margin-bottom: 64px;
  cursor: pointer;
}
.footer {
  display: flex;
  gap: 11px;
  margin-bottom: 40px;
}
.button:hover {
  background-color: #e880e8;
  color: #ffffff;
}
svg:hover path {
  fill: #ff52c1;
}
svg {
  width: 28px;
  height: 28px;
}
@media only screen and (min-width: 1440px) {
  body {
    background-image: url(images/bg-desktop.svg);
    background-position: top 0 left 0;
    background-size: contain;
  }
  main {
    flex-direction: row;
    gap: 59px;
  }
  .header {
    margin: 64px 0 104px 80px;
  }
  .logo {
    width: 200px;
    height: 32px;
  }
  .illustration {
    margin-bottom: 0;
    width: 696px;
    align-self: flex-start;
  }
  .text-div {
    align-items: flex-start;
    margin-top: 32px;
  }
  .head {
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 24px;
    text-align: start;
  }
  .paragraph {
    font-size: 18px;
    line-height: 27px;
    width: 50ch;
    text-align: start;
  }
  .button {
    font-size: 18px;
    line-height: 27px;
    padding: 13px 64px;
    margin-bottom: 183px;
    border-radius: 28px;
  }
  .footer {
    gap: 16px;
    align-self: flex-end;
    margin-right: 80px;
    margin-top: 27px;
    margin-bottom: 0;
  }
  svg {
    width: 40px;
    height: 40px;
  }
}
